<ion-nav-view></ion-nav-view>
<ion-view view-title="Pagar" class="pagar">
    <ion-tabs class="tabs-striped tabs-top">

        <ion-tab title="Cercanas" href="#/pagar/cercanos">
            <ion-nav-view name="cercanos" class="pagarCercanos"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Recientes" href="#/pagar/recientes">
            <ion-nav-view name="recientes" class="pagarRecientes"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Favoritas" href="#/pagar/favoritos">
            <ion-nav-view name="favoritos" class="pagarFavoritos"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Buscar" href="#/pagar/buscar">
            <ion-nav-view name="buscar" class="pagarBuscar"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>